In [11]:
import pandas as pd
import numpy as np
data = pd.read_csv('en.txt', sep=" ", header=None)
data.columns = ['word']
data['tag'] = 'en'
data

                word tag
0              aahed  en
1             aahing  en
2               aahs  en
3                aal  en
4              aalii  en
5             aaliis  en
6               aals  en
7                aam  en
8               aani  en
9           aardvark  en
10         aardvarks  en
11          aardwolf  en
12        aardwolves  en
13             aargh  en
14             aaron  en
15           aaronic  en
16         aaronical  en
17          aaronite  en
18         aaronitic  en
19            aarrgh  en
20           aarrghh  en
21              aaru  en
22               aas  en
23          aasvogel  en
24         aasvogels  en
25                ab  en
26               aba  en
27           ababdeh  en
28            ababua  en
29              abac  en
...              ...  ..
370069       zuleika  en
370070     zulhijjah  en
370071       zulinde  en
370072      zulkadah  en
370073          zulu  en
370074       zuludom  en
370075       zuluize  en
370076         zulus  en
370077       zumatic  en
370078     zumbooruk  en
370079          zuni  en
370080        zunian  en
370081       zunyite  en
370082         zunis  en
370083      zupanate  en
370084        zurich  en
370085       zurlite  en
370086       zutugil  en
370087     zuurveldt  en
370088          zuza  en
370089     zwanziger  en
370090      zwieback  en
370091     zwiebacks  en
370092    zwieselite  en
370093     zwinglian  en
370094  zwinglianism  en
370095  zwinglianist  en
370096       zwitter  en
370097    zwitterion  en
370098  zwitterionic  en

[370099 rows x 2 columns]

In [13]:
data2 = pd.read_csv('si.txt', sep=" ", header=None)
data2.columns = ['word']
data2['tag'] = 'si'
data2

                word tag
0          අභිචෝදකයා  si
1              අංකනය  si
2               අංකන  si
3               අංකය  si
4          අංකාන්තරය  si
5              අංකිත  si
6           අංකුට්ටා  si
7            අංකුරමය  si
8             අංකුරය  si
9              අංකුර  si
10            අංකුසය  si
11             අංගණය  si
12              අංගණ  si
13             අංගනය  si
14           අංගමාරය  si
15              අංගය  si
16            අංගරාග  si
17          අංගසමතාව  si
18           අංගහාරය  si
19         අංගාරක්ෂක  si
20           අංගාරධර  si
21               අංග  si
22          අංඟුලිකා  si
23             අංජනම  si
24             අංශකය  si
25        අංශචිත්‍රය  si
26           අංශභාගය  si
27           අංශභාගී  si
28              අංශය  si
29             අංශික  si
...              ...  ..
24940         ෆෝටෝනය  si
24941        ෆෝමලින්  si
24942        ෆෝල්ඩරය  si
24943       ෆෲක්ටෝස්  si
24944        ප්‍රධාන  si
24945     ශුභාශිංසනය  si
24946         ශූන්‍ය  si
24947          ‍අඬුව  si
24948      ‍අහම්මානය  si
24949     ‍කුලීකාරයා  si
24950        ‍කෙනෙක්  si
24951          ‍ගදාව  si
24952        ‍ගල්ගොඩ  si
24953           ‍ගොඩ  si
24954           ‍ඝෝෂ  si
24955        ‍තෙතමනය  si
24956      ‍තෙරපෙනවා  si
24957        ‍තෝරනවා  si
24958        ‍බෙරයක්  si
24959       ‍බේරෙනවා  si
24960          ‍මෘදු  si
24961       ‍මෝස්තරය  si
24962         ‍යමින්  si
24963        ‍යෂ්ටිය  si
24964        ‍වේළනවා  si
24965     ‍සමාජවාදය‍  si
24966        ‍‍ටසාර්  si
24967         ‍‍ශෝකය  si
24968  ‍‍‍බේගල්කාරයා  si
24969        ‍‍‍‍‍කය  si

[24970 rows x 2 columns]

In [15]:
final = pd.concat([data, data2], ignore_index=True)
final.to_excel('test_set.xlsx',index=False)

ModuleNotFoundError: No module named 'openpyxl'